$theme_color : #222

div.options
  margin: 10px auto
  padding: 15px
  border-bottom: 2px solid gainsboro

div.table_block
  border-left: 2px solid gainsboro

div.table_wrap
  min-height: 400px

.ng_modal_header
  background: $theme_color
  color: white
  text-align: center
  h3
    margin: 10px
div.ng_modal
  display: flex
  flex-direction: column

div.ng_modal_content
  padding: 20px

div.message_wrapper
  text-align: center


div.pagination
  text-align: center
  width: 100%

button.btn
  a
    color: grey
    width: 100%
    height: 100%

button.btn.btn-theme
  background: $theme_color
  a
    color: white
    pointer-events: none
    cursor: not-allowed

button.not_active
  opacity: .8
  a
    pointer-events: none
    color: grey

div.error_mes
  min-height: 30px
  min-width: 400px
  span
    color: red
    font-size: 12px
