<div ng-cloak>
    <button class="btn btn-success pull-right" ng-click="openEditDepForm($event,null)" ng-show="user">добавить подразделение</button>
    <h3>Подразделения</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Название</th>
            <th>Количество сотрудников</th>
            <th ng-show="user">Редактор</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="department in departments">
            <td ng-bind="department.title"></td>
            <td ng-check-count="" id="{{department.id}}">{{department.count||0}}</td>
            <td ng-show="user">
                <button type="button" class="btn btn-primary" ng-click="openEditDepForm($event,department)">изменить  <span class="glyphicon glyphicon-ok-sign"></span></button>
                <button type="button" class="btn btn-danger" ng-click="delete(department.id)" ng-disabled="department.isUsed">удалить  <span class="glyphicon glyphicon-remove-sign"></span></button>

            </td>
        </tr>
        </tbody>
    </table>
</div>