<div>
    <h3>Выберите дату для отчета</h3>
    <md-datepicker ng-model="reportDate" md-placeholder="Дата отчета"></md-datepicker>
</div>
<div ng-show="reportsList&&reportsList.length>0">
<h3>Отчет за {{reportDate|date:"d.MM.yyyy"}}</h3>
<div class="table_wrap">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Время начала работы</th>
            <th>Время окончания работы</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="report in reportsList">
            <td>{{report.worker.firstName}}</td>
            <td>{{report.worker.lastName}}</td>
            <td>{{report.startTime|date:"H:mm"}}</td>
            <td>{{report.endTime|date:"H:mm"}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div class="empty_list_block" ng-show="(!reportsList||reportsList.length==0)&&reportDate">
    <h5>К сожалению, для данной даты записи не найдены</h5>
</div>