<div class="ng_modal">
    <div class="ng_modal_header">
        <h3>Вход</h3>
    </div>
    <div class="ng_modal_content">
        <form name="login_form">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" class="form-control" id="login" ng-model="user.login" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль для входа:</label>
                <input type="password" class="form-control" id="password" ng-model="user.password" required>
            </div>
            <div class="error_mes"><span>{{errorMessage}}</span></div>
            <button class="btn btn-success" ng-click="login(user,login_form.$valid)">Войти</button>
            <button class="btn btn-default" ng-click="closeModal()">Отменить</button>
        </form>
    </div>
</div>